USE [master]
GO
/****** Object:  Database [AVDGS_DB]    Script Date: 18/03/2026 10:59:37 pm ******/
CREATE DATABASE [AVDGS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AVDGS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AVDGS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AVDGS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AVDGS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AVDGS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AVDGS_DB]
GO
/****** Object:  UserDefinedTableType [dbo].[BigintList]    Script Date: 18/03/2026 10:59:37 pm ******/
CREATE TYPE [dbo].[BigintList] AS TABLE(
	[Id] [bigint] NOT NULL
)
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[AdminCode] [varchar](20) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Email] [varchar](100) NULL,
	[AccessLevel] [varchar](30) NOT NULL,
	[CanManageUsers] [bit] NOT NULL,
	[CanManageCamera] [bit] NOT NULL,
	[CanManageAircraft] [bit] NOT NULL,
	[CanManageZones] [bit] NOT NULL,
	[CanManageSafety] [bit] NOT NULL,
	[CanManageData] [bit] NOT NULL,
	[CanExportLogs] [bit] NOT NULL,
	[CanBackupData] [bit] NOT NULL,
	[CanRestoreConfig] [bit] NOT NULL,
	[CanViewAuditLogs] [bit] NOT NULL,
	[LastLoginAt] [datetime] NULL,
	[AccountStatus] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AdminCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AircraftTypes]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AircraftTypes](
	[AircraftTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AircraftName] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AircraftTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AircraftName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[EventUtc] [datetime2](0) NOT NULL,
	[ActorUserId] [int] NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](64) NOT NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DockingSessionCrewTag]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DockingSessionCrewTag](
	[SessionId] [bigint] NOT NULL,
	[CrewMode] [varchar](12) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DockingSessions]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DockingSessions](
	[SessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[AircraftTypeId] [int] NOT NULL,
	[ModeId] [int] NOT NULL,
	[StartTimeLocal] [datetime2](0) NOT NULL,
	[EndTimeLocal] [datetime2](0) NOT NULL,
	[IsSuccess] [bit] NOT NULL,
	[CenterlineOffsetM] [float] NULL,
	[DistanceToStopM] [float] NULL,
	[LateralAdjustM] [float] NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[CreatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentReports]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentReports](
	[IncidentId] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionId] [bigint] NOT NULL,
	[Severity] [varchar](10) NOT NULL,
	[Title] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](600) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationModes]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationModes](
	[ModeId] [int] IDENTITY(1,1) NOT NULL,
	[ModeName] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ModeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherSnapshot]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherSnapshot](
	[WeatherSnapshotId] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](120) NOT NULL,
	[ObservedAtLocal] [datetime2](0) NOT NULL,
	[VisibilityKm] [decimal](6, 2) NOT NULL,
	[TemperatureC] [int] NOT NULL,
	[WindSpeedKts] [int] NOT NULL,
	[WindGustKts] [int] NOT NULL,
	[IsRaining] [bit] NOT NULL,
	[IsLightning] [bit] NOT NULL,
	[WeatherCode] [int] NOT NULL,
	[Source] [nvarchar](40) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WeatherSnapshotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DockingSessions_Reports]    Script Date: 18/03/2026 10:59:37 pm ******/
CREATE NONCLUSTERED INDEX [IX_DockingSessions_Reports] ON [dbo].[DockingSessions]
(
	[StartTimeLocal] DESC,
	[AircraftTypeId] ASC
)
INCLUDE([IsSuccess],[CenterlineOffsetM],[DistanceToStopM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DockingSessions_StartTime]    Script Date: 18/03/2026 10:59:37 pm ******/
CREATE NONCLUSTERED INDEX [IX_DockingSessions_StartTime] ON [dbo].[DockingSessions]
(
	[StartTimeLocal] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncidentReports_CreatedAt]    Script Date: 18/03/2026 10:59:37 pm ******/
CREATE NONCLUSTERED INDEX [IX_IncidentReports_CreatedAt] ON [dbo].[IncidentReports]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncidentReports_SessionId]    Script Date: 18/03/2026 10:59:37 pm ******/
CREATE NONCLUSTERED INDEX [IX_IncidentReports_SessionId] ON [dbo].[IncidentReports]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ('Administrator') FOR [AccessLevel]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanManageUsers]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanManageCamera]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanManageAircraft]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanManageZones]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanManageSafety]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanManageData]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanExportLogs]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanBackupData]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((0)) FOR [CanRestoreConfig]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [CanViewAuditLogs]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ('Active') FOR [AccountStatus]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF_AuditLog_EventUtc]  DEFAULT (sysutcdatetime()) FOR [EventUtc]
GO
ALTER TABLE [dbo].[DockingSessionCrewTag] ADD  CONSTRAINT [DF_DockingSessionCrewTag_CrewMode]  DEFAULT ('UNASSIGNED') FOR [CrewMode]
GO
ALTER TABLE [dbo].[DockingSessionCrewTag] ADD  CONSTRAINT [DF_DockingSessionCrewTag_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[DockingSessions] ADD  CONSTRAINT [DF_DockingSessions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[IncidentReports] ADD  CONSTRAINT [DF_IncidentReports_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WeatherSnapshot] ADD  CONSTRAINT [DF_WeatherSnapshot_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Users]
GO
ALTER TABLE [dbo].[DockingSessions]  WITH CHECK ADD  CONSTRAINT [FK_DockingSessions_AircraftTypes] FOREIGN KEY([AircraftTypeId])
REFERENCES [dbo].[AircraftTypes] ([AircraftTypeId])
GO
ALTER TABLE [dbo].[DockingSessions] CHECK CONSTRAINT [FK_DockingSessions_AircraftTypes]
GO
ALTER TABLE [dbo].[DockingSessions]  WITH CHECK ADD  CONSTRAINT [FK_DockingSessions_OperationModes] FOREIGN KEY([ModeId])
REFERENCES [dbo].[OperationModes] ([ModeId])
GO
ALTER TABLE [dbo].[DockingSessions] CHECK CONSTRAINT [FK_DockingSessions_OperationModes]
GO
ALTER TABLE [dbo].[IncidentReports]  WITH CHECK ADD  CONSTRAINT [FK_IncidentReports_DockingSessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[DockingSessions] ([SessionId])
GO
ALTER TABLE [dbo].[IncidentReports] CHECK CONSTRAINT [FK_IncidentReports_DockingSessions]
GO
ALTER TABLE [dbo].[IncidentReports]  WITH CHECK ADD  CONSTRAINT [CK_IncidentReports_Severity] CHECK  (([Severity]='HIGH' OR [Severity]='MEDIUM' OR [Severity]='LOW'))
GO
ALTER TABLE [dbo].[IncidentReports] CHECK CONSTRAINT [CK_IncidentReports_Severity]
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetByUsername]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_User_GetByUsername]
    @Username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Username IS NULL RETURN;

    DECLARE @U NVARCHAR(50) = LTRIM(RTRIM(@Username));

    SELECT TOP (1)
        UserId,
        Username,
        PasswordHash,
        IsActive,
        LastLoginAt
    FROM dbo.Users
    WHERE Username = @U;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_InsertIfNotExists]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_User_InsertIfNotExists]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @U NVARCHAR(50) = LTRIM(RTRIM(@Username));

    IF NOT EXISTS (SELECT 1 FROM dbo.Users WHERE Username = @U)
    BEGIN
        INSERT INTO dbo.Users (Username, PasswordHash, IsActive, CreatedAt)
        VALUES (@U, @PasswordHash, 1, SYSDATETIME());
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_UpdateLastLogin]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_User_UpdateLastLogin]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Users
    SET LastLoginAt = SYSDATETIME()
    WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AircraftType_List]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================
   STORED PROCEDURES
   ============================================ */

-- List Aircraft Types
CREATE   PROCEDURE [dbo].[usp_AircraftType_List]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT AircraftTypeId, AircraftName
    FROM dbo.AircraftTypes
    ORDER BY AircraftName;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSession_AddIncident]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Add Incident to a Session
CREATE   PROCEDURE [dbo].[usp_DockingSession_AddIncident]
    @SessionId       BIGINT,
    @Severity        VARCHAR(10),
    @Title           NVARCHAR(120),
    @Description     NVARCHAR(600),
    @CreatedByUserId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.DockingSessions WHERE SessionId = @SessionId)
    BEGIN
        RAISERROR('Session not found.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.IncidentReports
    (
        SessionId, Severity, Title, Description, CreatedByUserId
    )
    VALUES
    (
        @SessionId, UPPER(@Severity), @Title, @Description, @CreatedByUserId
    );
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSession_Create]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create a Docking Session (returns new SessionId)
CREATE   PROCEDURE [dbo].[usp_DockingSession_Create]
    @AircraftTypeId    INT,
    @ModeId            INT,
    @StartTimeLocal    DATETIME2(0),
    @EndTimeLocal      DATETIME2(0),
    @IsSuccess         BIT,
    @CenterlineOffsetM FLOAT = NULL,
    @DistanceToStopM   FLOAT = NULL,
    @LateralAdjustM    FLOAT = NULL,
    @Notes             NVARCHAR(500) = NULL,
    @CreatedByUserId   INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @EndTimeLocal <= @StartTimeLocal
    BEGIN
        RAISERROR('End time must be greater than start time.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.DockingSessions
    (
        AircraftTypeId, ModeId,
        StartTimeLocal, EndTimeLocal,
        IsSuccess,
        CenterlineOffsetM, DistanceToStopM, LateralAdjustM,
        Notes,
        CreatedByUserId
    )
    VALUES
    (
        @AircraftTypeId, @ModeId,
        @StartTimeLocal, @EndTimeLocal,
        @IsSuccess,
        @CenterlineOffsetM, @DistanceToStopM, @LateralAdjustM,
        @Notes,
        @CreatedByUserId
    );

    SELECT CAST(SCOPE_IDENTITY() AS BIGINT) AS SessionId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSession_GetRecent]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Recent Sessions (Top N)
CREATE   PROCEDURE [dbo].[usp_DockingSession_GetRecent]
    @TopN INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopN)
        s.SessionId,
        a.AircraftName,
        m.ModeName,
        s.StartTimeLocal,
        s.EndTimeLocal,
        CAST(DATEDIFF(SECOND, s.StartTimeLocal, s.EndTimeLocal) / 60.0 AS DECIMAL(10,1)) AS DurationMinutes,
        s.IsSuccess,
        (SELECT COUNT(1) FROM dbo.IncidentReports ir WHERE ir.SessionId = s.SessionId) AS IncidentCount
    FROM dbo.DockingSessions s
    INNER JOIN dbo.AircraftTypes a ON a.AircraftTypeId = s.AircraftTypeId
    INNER JOIN dbo.OperationModes m ON m.ModeId = s.ModeId
    ORDER BY s.StartTimeLocal DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSession_Query]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 7) Update Query: return CrewMode + Instructor at END
-- Output columns expected by updated DAL:
-- 0 SessionId
-- 1 AircraftName
-- 2 ModeName
-- 3 StartTimeLocal
-- 4 EndTimeLocal
-- 5 DurationMinutes
-- 6 IsSuccess
-- 7 IncidentCount
-- 8 CrewModeCode
-- 9 InstructorId
-- 10 InstructorName
------------------------------------------------------------
CREATE   PROCEDURE [dbo].[usp_DockingSession_Query]
(
    @TopN INT = 50,
    @FromDate DATE = NULL,
    @ToDateExclusive DATE = NULL,
    @SessionId BIGINT = NULL,
    @AircraftTypeId INT = NULL,
    @ModeId INT = NULL,
    @Outcome BIT = NULL,
    @SortBy NVARCHAR(20) = N'Start',
    @SortDir NVARCHAR(4) = N'DESC'
)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH S AS
    (
        SELECT
            ds.SessionId,
            atp.Name AS AircraftName,
            om.Name AS ModeName,
            ds.StartTimeLocal,
            ds.EndTimeLocal,
            CAST(DATEDIFF(SECOND, ds.StartTimeLocal, ds.EndTimeLocal) / 60.0 AS DECIMAL(10,1)) AS DurationMinutes,
            ds.IsSuccess,
            (SELECT COUNT(*) FROM dbo.Incident i WHERE i.SessionId = ds.SessionId) AS IncidentCount,
            ds.CrewMode,
            ds.InstructorId,
            ins.FullName AS InstructorName
        FROM dbo.DockingSession ds
        INNER JOIN dbo.AircraftType atp ON atp.AircraftTypeId = ds.AircraftTypeId
        INNER JOIN dbo.OperationMode om ON om.ModeId = ds.ModeId
        LEFT JOIN dbo.Instructor ins ON ins.InstructorId = ds.InstructorId
        WHERE
            (@FromDate IS NULL OR ds.StartTimeLocal >= @FromDate)
            AND (@ToDateExclusive IS NULL OR ds.StartTimeLocal < @ToDateExclusive)
            AND (@SessionId IS NULL OR ds.SessionId = @SessionId)
            AND (@AircraftTypeId IS NULL OR ds.AircraftTypeId = @AircraftTypeId)
            AND (@ModeId IS NULL OR ds.ModeId = @ModeId)
            AND (@Outcome IS NULL OR ds.IsSuccess = @Outcome)
    )
    SELECT TOP (@TopN)
        SessionId,
        AircraftName,
        ModeName,
        StartTimeLocal,
        EndTimeLocal,
        DurationMinutes,
        IsSuccess,
        IncidentCount,
        CASE CrewMode WHEN 1 THEN 'SOLO'
                      WHEN 2 THEN 'DUAL'
                      ELSE 'UNASSIGNED'
        END AS CrewModeCode,
        InstructorId,
        InstructorName
    FROM S
    ORDER BY
        CASE WHEN @SortBy = 'Session' AND @SortDir='ASC'  THEN SessionId END ASC,
        CASE WHEN @SortBy = 'Session' AND @SortDir='DESC' THEN SessionId END DESC,

        CASE WHEN @SortBy = 'Aircraft' AND @SortDir='ASC'  THEN AircraftName END ASC,
        CASE WHEN @SortBy = 'Aircraft' AND @SortDir='DESC' THEN AircraftName END DESC,

        CASE WHEN @SortBy = 'Mode' AND @SortDir='ASC'  THEN ModeName END ASC,
        CASE WHEN @SortBy = 'Mode' AND @SortDir='DESC' THEN ModeName END DESC,

        CASE WHEN @SortBy = 'Start' AND @SortDir='ASC'  THEN StartTimeLocal END ASC,
        CASE WHEN @SortBy = 'Start' AND @SortDir='DESC' THEN StartTimeLocal END DESC,

        CASE WHEN @SortBy = 'End' AND @SortDir='ASC'  THEN EndTimeLocal END ASC,
        CASE WHEN @SortBy = 'End' AND @SortDir='DESC' THEN EndTimeLocal END DESC,

        CASE WHEN @SortBy = 'Duration' AND @SortDir='ASC'  THEN DurationMinutes END ASC,
        CASE WHEN @SortBy = 'Duration' AND @SortDir='DESC' THEN DurationMinutes END DESC,

        CASE WHEN @SortBy = 'Outcome' AND @SortDir='ASC'  THEN IsSuccess END ASC,
        CASE WHEN @SortBy = 'Outcome' AND @SortDir='DESC' THEN IsSuccess END DESC,

        StartTimeLocal DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSession_SetCrew]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 6) Set Crew Mode + Instructor (AUDIT READY)
------------------------------------------------------------
CREATE   PROCEDURE [dbo].[usp_DockingSession_SetCrew]
(
    @SessionId BIGINT,
    @CrewMode TINYINT,            -- 0/1/2
    @InstructorId INT = NULL,     -- required if @CrewMode=2
    @ActorUserId INT = NULL,
    @ActorUserName NVARCHAR(80) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @CrewMode NOT IN (0,1,2)
        THROW 50001, 'Invalid CrewMode. Allowed: 0=UNASSIGNED, 1=SOLO, 2=DUAL.', 1;

    IF @CrewMode = 2 AND @InstructorId IS NULL
        THROW 50002, 'InstructorId is required when CrewMode is DUAL.', 1;

    IF @CrewMode <> 2
        SET @InstructorId = NULL; -- force clear instructor on SOLO/UNASSIGNED

    DECLARE @OldCrewMode TINYINT = NULL;
    DECLARE @OldInstructorId INT = NULL;

    SELECT
        @OldCrewMode = CrewMode,
        @OldInstructorId = InstructorId
    FROM dbo.DockingSession
    WHERE SessionId = @SessionId;

    UPDATE dbo.DockingSession
    SET CrewMode = @CrewMode,
        InstructorId = @InstructorId
    WHERE SessionId = @SessionId;

    INSERT INTO dbo.AuditLog
    (
        ActorUserId, ActorUserName, Action, EntityName, EntityId, OldValue, NewValue
    )
    VALUES
    (
        @ActorUserId,
        @ActorUserName,
        N'UPDATE',
        N'DockingSession',
        @SessionId,
        CONCAT(N'{"CrewMode":', COALESCE(CONVERT(NVARCHAR(10), @OldCrewMode), 'null'),
               N',"InstructorId":', COALESCE(CONVERT(NVARCHAR(20), @OldInstructorId), 'null'), N'}'),
        CONCAT(N'{"CrewMode":', CONVERT(NVARCHAR(10), @CrewMode),
               N',"InstructorId":', COALESCE(CONVERT(NVARCHAR(20), @InstructorId), 'null'), N'}')
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSessionCrewTag_GetBySessionIds]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   5) Bulk get crew tags by SessionIds (TVP)
   ========================================================= */
CREATE   PROCEDURE [dbo].[usp_DockingSessionCrewTag_GetBySessionIds]
    @Ids dbo.BigintList READONLY
AS
BEGIN
    SET NOCOUNT ON;

    SELECT t.SessionId, t.CrewMode
    FROM dbo.DockingSessionCrewTag t
    INNER JOIN @Ids i ON i.Id = t.SessionId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSessionCrewTag_Upsert]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   4) Upsert crew tag + audit
   Allowed CrewMode: UNASSIGNED, SOLO, DUAL
   ========================================================= */
CREATE   PROCEDURE [dbo].[usp_DockingSessionCrewTag_Upsert]
    @SessionId BIGINT,
    @CrewMode  VARCHAR(12),
    @UpdatedByUserId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @CrewMode = UPPER(LTRIM(RTRIM(@CrewMode)));

    IF (@CrewMode NOT IN ('UNASSIGNED','SOLO','DUAL'))
    BEGIN
        RAISERROR('Invalid CrewMode. Use UNASSIGNED, SOLO, or DUAL.', 16, 1);
        RETURN;
    END

    DECLARE @OldCrewMode VARCHAR(12) = NULL;

    SELECT @OldCrewMode = CrewMode
    FROM dbo.DockingSessionCrewTag
    WHERE SessionId = @SessionId;

    IF EXISTS (SELECT 1 FROM dbo.DockingSessionCrewTag WHERE SessionId = @SessionId)
    BEGIN
        UPDATE dbo.DockingSessionCrewTag
        SET CrewMode = @CrewMode,
            UpdatedAtUtc = SYSUTCDATETIME(),
            UpdatedByUserId = @UpdatedByUserId
        WHERE SessionId = @SessionId;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.DockingSessionCrewTag(SessionId, CrewMode, UpdatedAtUtc, UpdatedByUserId)
        VALUES (@SessionId, @CrewMode, SYSUTCDATETIME(), @UpdatedByUserId);
    END

    INSERT INTO dbo.AuditLog(ActorUserId, EventType, EntityName, EntityId, Details)
    VALUES
    (
        @UpdatedByUserId,
        N'UPDATE',
        N'DockingSessionCrewTag',
        CONVERT(NVARCHAR(64), @SessionId),
        CONCAT(
            N'{"oldCrewMode":"', ISNULL(@OldCrewMode,'(null)'),
            N'","newCrewMode":"', @CrewMode,
            N'"}'
        )
    );
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSessions_AddIncident]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_DockingSessions_AddIncident]
(
    @SessionId       BIGINT,
    @Severity        VARCHAR(10),
    @Title           NVARCHAR(240),
    @Description     NVARCHAR(1200),
    @CreatedByUserId INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate Session exists
    IF NOT EXISTS (SELECT 1 FROM dbo.DockingSessions WHERE SessionId = @SessionId)
        THROW 50021, 'Invalid SessionId. Session does not exist in dbo.DockingSessions.', 1;

    -- Normalize + validate severity based on your CHECK constraint
    SET @Severity = UPPER(LTRIM(RTRIM(@Severity)));
    IF (@Severity NOT IN ('LOW','MEDIUM','HIGH'))
        THROW 50022, 'Invalid Severity. Use LOW, MEDIUM, or HIGH.', 1;

    -- Basic trim
    SET @Title = LTRIM(RTRIM(@Title));
    SET @Description = LTRIM(RTRIM(@Description));

    INSERT INTO dbo.IncidentReports
    (
        SessionId,
        Severity,
        Title,
        Description,
        CreatedByUserId
    )
    VALUES
    (
        @SessionId,
        @Severity,
        @Title,
        @Description,
        @CreatedByUserId
    );
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSessions_Create]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_DockingSessions_Create]
(
    @AircraftTypeId     INT,
    @ModeId             INT,              -- maps to ModelId or ModeId in table
    @StartTimeLocal     DATETIME2,
    @EndTimeLocal       DATETIME2,
    @IsSuccess          BIT,
    @CenterlineOffsetM  FLOAT        = NULL,
    @DistanceToStopM    FLOAT        = NULL,
    @LateralAdjustM     FLOAT        = NULL,
    @Notes              NVARCHAR(500)= NULL,
    @CreatedByUserId    INT          = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@EndTimeLocal <= @StartTimeLocal)
        THROW 50041, 'EndTimeLocal must be greater than StartTimeLocal.', 1;

    -- Detect whether the mode column is ModeId or ModelId
    DECLARE @ModeCol SYSNAME =
        CASE
            WHEN COL_LENGTH('dbo.DockingSessions', 'ModeId') IS NOT NULL  THEN 'ModeId'
            WHEN COL_LENGTH('dbo.DockingSessions', 'ModelId') IS NOT NULL THEN 'ModelId'
            ELSE NULL
        END;

    IF @ModeCol IS NULL
        THROW 50042, 'DockingSessions is missing ModeId/ModelId column.', 1;

    -- Build insert columns/values (include optional cols only if they exist)
    DECLARE @Cols NVARCHAR(MAX) =
        N'AircraftTypeId,' + QUOTENAME(@ModeCol) + N',StartTimeLocal,EndTimeLocal,IsSuccess';

    DECLARE @Vals NVARCHAR(MAX) =
        N'@AircraftTypeId,@ModeId,@StartTimeLocal,@EndTimeLocal,@IsSuccess';

    IF COL_LENGTH('dbo.DockingSessions', 'CenterlineOffsetM') IS NOT NULL
    BEGIN
        SET @Cols += N',CenterlineOffsetM';
        SET @Vals += N',@CenterlineOffsetM';
    END

    IF COL_LENGTH('dbo.DockingSessions', 'DistanceToStopM') IS NOT NULL
    BEGIN
        SET @Cols += N',DistanceToStopM';
        SET @Vals += N',@DistanceToStopM';
    END

    IF COL_LENGTH('dbo.DockingSessions', 'LateralAdjustM') IS NOT NULL
    BEGIN
        SET @Cols += N',LateralAdjustM';
        SET @Vals += N',@LateralAdjustM';
    END

    IF COL_LENGTH('dbo.DockingSessions', 'Notes') IS NOT NULL
    BEGIN
        SET @Cols += N',Notes';
        SET @Vals += N',@Notes';
    END

    IF COL_LENGTH('dbo.DockingSessions', 'CreatedByUserId') IS NOT NULL
    BEGIN
        SET @Cols += N',CreatedByUserId';
        SET @Vals += N',@CreatedByUserId';
    END

    DECLARE @Sql NVARCHAR(MAX) =
        N'INSERT INTO dbo.DockingSessions (' + @Cols + N')
          OUTPUT INSERTED.SessionId
          VALUES (' + @Vals + N');';

    -- Return SessionId as scalar (ExecuteScalarAsync reads this)
    EXEC sp_executesql
        @Sql,
        N'@AircraftTypeId INT, @ModeId INT, @StartTimeLocal DATETIME2, @EndTimeLocal DATETIME2, @IsSuccess BIT,
          @CenterlineOffsetM FLOAT, @DistanceToStopM FLOAT, @LateralAdjustM FLOAT, @Notes NVARCHAR(500), @CreatedByUserId INT',
        @AircraftTypeId=@AircraftTypeId,
        @ModeId=@ModeId,
        @StartTimeLocal=@StartTimeLocal,
        @EndTimeLocal=@EndTimeLocal,
        @IsSuccess=@IsSuccess,
        @CenterlineOffsetM=@CenterlineOffsetM,
        @DistanceToStopM=@DistanceToStopM,
        @LateralAdjustM=@LateralAdjustM,
        @Notes=@Notes,
        @CreatedByUserId=@CreatedByUserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DockingSessions_Query]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_DockingSessions_Query]
(
    @TopN            INT            = 50,
    @FromDate        DATE           = NULL,
    @ToDateExclusive DATE           = NULL,
    @SessionId       BIGINT         = NULL,
    @AircraftTypeId  INT            = NULL,
    @ModeId          INT            = NULL,
    @Outcome         BIT            = NULL,
    @SortBy          NVARCHAR(20)   = N'Start',   -- Session/Aircraft/Mode/Start/End/Duration/Outcome
    @SortDir         NVARCHAR(4)    = N'DESC'     -- ASC/DESC
)
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------------------
    -- Detect AircraftTypes + OperationModes Key/Name columns (since yours
    -- are NOT "Id" and "Name" based on prior errors)
    -------------------------------------------------------------------
    DECLARE @AircraftKeyCol SYSNAME, @AircraftNameCol SYSNAME;
    DECLARE @ModeKeyCol SYSNAME, @ModeNameCol SYSNAME;

    -- AircraftTypes PK
    SELECT TOP (1) @AircraftKeyCol = c.name
    FROM sys.indexes i
    JOIN sys.index_columns ic ON ic.object_id = i.object_id AND ic.index_id = i.index_id
    JOIN sys.columns c ON c.object_id = ic.object_id AND c.column_id = ic.column_id
    WHERE i.object_id = OBJECT_ID(N'dbo.AircraftTypes') AND i.is_primary_key = 1
    ORDER BY ic.key_ordinal;

    IF @AircraftKeyCol IS NULL
    BEGIN
        SELECT TOP (1) @AircraftKeyCol = c.name
        FROM sys.columns c
        WHERE c.object_id = OBJECT_ID(N'dbo.AircraftTypes') AND c.name LIKE N'%Id'
        ORDER BY c.column_id;
    END

    -- AircraftTypes display name
    SELECT TOP (1) @AircraftNameCol = c.name
    FROM sys.columns c
    WHERE c.object_id = OBJECT_ID(N'dbo.AircraftTypes')
      AND c.name LIKE N'%Name%' AND c.name NOT LIKE N'%Id%'
    ORDER BY c.column_id;

    IF @AircraftNameCol IS NULL
    BEGIN
        SELECT TOP (1) @AircraftNameCol = c.name
        FROM sys.columns c
        WHERE c.object_id = OBJECT_ID(N'dbo.AircraftTypes')
          AND c.system_type_id IN (167,175,231,239) -- varchar/char/nvarchar/nchar
        ORDER BY c.column_id;
    END

    -- OperationModes PK
    SELECT TOP (1) @ModeKeyCol = c.name
    FROM sys.indexes i
    JOIN sys.index_columns ic ON ic.object_id = i.object_id AND ic.index_id = i.index_id
    JOIN sys.columns c ON c.object_id = ic.object_id AND c.column_id = ic.column_id
    WHERE i.object_id = OBJECT_ID(N'dbo.OperationModes') AND i.is_primary_key = 1
    ORDER BY ic.key_ordinal;

    IF @ModeKeyCol IS NULL
    BEGIN
        SELECT TOP (1) @ModeKeyCol = c.name
        FROM sys.columns c
        WHERE c.object_id = OBJECT_ID(N'dbo.OperationModes') AND c.name LIKE N'%Id'
        ORDER BY c.column_id;
    END

    -- OperationModes display name
    SELECT TOP (1) @ModeNameCol = c.name
    FROM sys.columns c
    WHERE c.object_id = OBJECT_ID(N'dbo.OperationModes')
      AND c.name LIKE N'%Name%' AND c.name NOT LIKE N'%Id%'
    ORDER BY c.column_id;

    IF @ModeNameCol IS NULL
    BEGIN
        SELECT TOP (1) @ModeNameCol = c.name
        FROM sys.columns c
        WHERE c.object_id = OBJECT_ID(N'dbo.OperationModes')
          AND c.system_type_id IN (167,175,231,239)
        ORDER BY c.column_id;
    END

    IF @AircraftKeyCol IS NULL OR @AircraftNameCol IS NULL OR @ModeKeyCol IS NULL OR @ModeNameCol IS NULL
        THROW 50031, 'Cannot detect key/name columns for AircraftTypes/OperationModes.', 1;

    -------------------------------------------------------------------
    -- Normalize sort + build UNIQUE ORDER BY
    -------------------------------------------------------------------
    SET @SortBy  = UPPER(LTRIM(RTRIM(ISNULL(@SortBy, N'START'))));
    SET @SortDir = CASE WHEN UPPER(@SortDir) = 'ASC' THEN 'ASC' ELSE 'DESC' END;

    DECLARE @PrimaryCol NVARCHAR(50) =
        CASE @SortBy
            WHEN 'SESSION'  THEN 'SessionId'
            WHEN 'AIRCRAFT' THEN 'AircraftName'
            WHEN 'MODE'     THEN 'ModeName'
            WHEN 'START'    THEN 'StartTimeLocal'
            WHEN 'END'      THEN 'EndTimeLocal'
            WHEN 'DURATION' THEN 'DurationMinutes'
            WHEN 'OUTCOME'  THEN 'IsSuccess'
            ELSE 'StartTimeLocal'
        END;

    -- ✅ KEY FIX: if primary is SessionId, secondary must NOT be SessionId again
    DECLARE @SecondaryCol NVARCHAR(80) =
        CASE WHEN @PrimaryCol = 'SessionId'
             THEN 'StartTimeLocal DESC'
             ELSE 'SessionId DESC'
        END;

    DECLARE @Sql NVARCHAR(MAX) = N'
;WITH S AS
(
    SELECT
        ds.SessionId,
        at.' + QUOTENAME(@AircraftNameCol) + N' AS AircraftName,
        om.' + QUOTENAME(@ModeNameCol) + N' AS ModeName,
        ds.StartTimeLocal,
        ds.EndTimeLocal,
        CAST(DATEDIFF(SECOND, ds.StartTimeLocal, ds.EndTimeLocal) / 60.0 AS DECIMAL(10,1)) AS DurationMinutes,
        ds.IsSuccess,
        COUNT(ir.IncidentId) AS IncidentCount
    FROM dbo.DockingSessions ds
    INNER JOIN dbo.AircraftTypes at ON at.' + QUOTENAME(@AircraftKeyCol) + N' = ds.AircraftTypeId
    INNER JOIN dbo.OperationModes om ON om.' + QUOTENAME(@ModeKeyCol) + N' = ds.ModeId
    LEFT JOIN dbo.IncidentReports ir ON ir.SessionId = ds.SessionId
    WHERE
        (@SessionId IS NULL OR ds.SessionId = @SessionId)
        AND (@AircraftTypeId IS NULL OR ds.AircraftTypeId = @AircraftTypeId)
        AND (@ModeId IS NULL OR ds.ModeId = @ModeId)
        AND (@Outcome IS NULL OR ds.IsSuccess = @Outcome)
        AND (@FromDate IS NULL OR ds.StartTimeLocal >= @FromDate)
        AND (@ToDateExclusive IS NULL OR ds.StartTimeLocal < @ToDateExclusive)
    GROUP BY
        ds.SessionId,
        at.' + QUOTENAME(@AircraftNameCol) + N',
        om.' + QUOTENAME(@ModeNameCol) + N',
        ds.StartTimeLocal, ds.EndTimeLocal, ds.IsSuccess
)
SELECT TOP (@TopN)
    SessionId, AircraftName, ModeName, StartTimeLocal, EndTimeLocal, DurationMinutes, IsSuccess, IncidentCount
FROM S
ORDER BY ' + @PrimaryCol + N' ' + @SortDir + N', ' + @SecondaryCol + N';
';

    EXEC sp_executesql
        @Sql,
        N'@TopN INT, @FromDate DATE, @ToDateExclusive DATE, @SessionId BIGINT, @AircraftTypeId INT, @ModeId INT, @Outcome BIT',
        @TopN=@TopN, @FromDate=@FromDate, @ToDateExclusive=@ToDateExclusive,
        @SessionId=@SessionId, @AircraftTypeId=@AircraftTypeId, @ModeId=@ModeId, @Outcome=@Outcome;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Incident_GetRecent]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Recent Incidents (Top N)
CREATE   PROCEDURE [dbo].[usp_Incident_GetRecent]
    @TopN INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopN)
        ir.IncidentId,
        ir.SessionId,
        ir.Severity,
        ir.Title,
        ir.Description,
        ir.CreatedAt
    FROM dbo.IncidentReports ir
    ORDER BY ir.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Incident_Query]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Incident_Query]
(
    @TopN            INT          = 5,
    @FromDate        DATE         = NULL,
    @ToDateExclusive DATE         = NULL,
    @SessionId       BIGINT       = NULL,
    @Severity        VARCHAR(10)  = NULL,   -- LOW/MEDIUM/HIGH
    @Q               NVARCHAR(200)= NULL    -- keyword (Title/Description)
)
AS
BEGIN
    SET NOCOUNT ON;

    -- normalize severity
    IF @Severity IS NOT NULL
        SET @Severity = UPPER(LTRIM(RTRIM(@Severity)));

    IF @Q IS NOT NULL
        SET @Q = LTRIM(RTRIM(@Q));

    SELECT TOP (@TopN)
        IncidentId,
        SessionId,
        Severity,
        Title,
        Description,
        CreatedAt
    FROM dbo.IncidentReports
    WHERE
        (@SessionId IS NULL OR SessionId = @SessionId)
        AND (@Severity IS NULL OR Severity = @Severity)
        AND (@FromDate IS NULL OR CreatedAt >= @FromDate)
        AND (@ToDateExclusive IS NULL OR CreatedAt < @ToDateExclusive)
        AND (
            @Q IS NULL
            OR Title LIKE N'%' + @Q + N'%'
            OR Description LIKE N'%' + @Q + N'%'
        )
    ORDER BY
        CreatedAt DESC,
        IncidentId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OperationMode_List]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- List Operation Modes
CREATE   PROCEDURE [dbo].[usp_OperationMode_List]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ModeId, ModeName
    FROM dbo.OperationModes
    ORDER BY ModeName;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OperationsDashboard_GetKpis]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Dashboard KPIs
CREATE   PROCEDURE [dbo].[usp_OperationsDashboard_GetKpis]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Total INT = (SELECT COUNT(1) FROM dbo.DockingSessions);

    SELECT
        TotalSessions = @Total,
        SuccessRate =
            CASE WHEN @Total = 0 THEN 0
                 ELSE CAST(100.0 * SUM(CASE WHEN IsSuccess = 1 THEN 1 ELSE 0 END) / @Total AS DECIMAL(10,1))
            END,
        Incidents = (SELECT COUNT(1) FROM dbo.IncidentReports),
        AvgDurationMinutes =
            CASE WHEN @Total = 0 THEN 0
                 ELSE CAST(AVG(DATEDIFF(SECOND, StartTimeLocal, EndTimeLocal) / 60.0) AS DECIMAL(10,1))
            END
    FROM dbo.DockingSessions;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OperationsDashboard_GetSuccessByAircraft]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Success Rate by Aircraft Type
CREATE   PROCEDURE [dbo].[usp_OperationsDashboard_GetSuccessByAircraft]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        a.AircraftName,
        Total = COUNT(1),
        SuccessRate =
            CAST(100.0 * SUM(CASE WHEN s.IsSuccess = 1 THEN 1 ELSE 0 END) / NULLIF(COUNT(1), 0) AS DECIMAL(10,1))
    FROM dbo.DockingSessions s
    INNER JOIN dbo.AircraftTypes a ON a.AircraftTypeId = s.AircraftTypeId
    GROUP BY a.AircraftName
    ORDER BY a.AircraftName;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OperationsDashboard_GetSuccessByMode]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Success Rate by Operation Mode (Manual Override vs A-VDGS Assisted)
CREATE   PROCEDURE [dbo].[usp_OperationsDashboard_GetSuccessByMode]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        m.ModeName,
        Total = COUNT(1),
        SuccessRate =
            CAST(100.0 * SUM(CASE WHEN s.IsSuccess = 1 THEN 1 ELSE 0 END) / NULLIF(COUNT(1), 0) AS DECIMAL(10,1))
    FROM dbo.DockingSessions s
    INNER JOIN dbo.OperationModes m ON m.ModeId = s.ModeId
    GROUP BY m.ModeName
    ORDER BY m.ModeName;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Reports_GetAircraftPerformanceSummary]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   AIRCRAFT PERFORMANCE SUMMARY
   Returns:
   0 = AircraftName
   1 = Total
   2 = Successful
   3 = Incidents
   4 = SuccessRate
   5 = AvgCenterlineM
   6 = AvgDistToStopM
   ============================================================ */
CREATE   PROCEDURE [dbo].[usp_Reports_GetAircraftPerformanceSummary]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AircraftNameCol SYSNAME;

    SET @AircraftNameCol =
        CASE
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'AircraftName'
            ) THEN 'AircraftName'
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'Name'
            ) THEN 'Name'
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'TypeName'
            ) THEN 'TypeName'
            ELSE NULL
        END;

    IF @AircraftNameCol IS NULL
    BEGIN
        THROW 50003, 'No aircraft display column found in dbo.AircraftTypes. Expected AircraftName, Name, or TypeName.', 1;
    END

    DECLARE @sql NVARCHAR(MAX) = N'
        SELECT
            AircraftName    = A.' + QUOTENAME(@AircraftNameCol) + N',
            Total           = COUNT(1),
            Successful      = SUM(
                                CASE
                                    WHEN S.IsSuccess = 1 AND ISNULL(IR.IncidentCount, 0) = 0 THEN 1
                                    ELSE 0
                                END
                              ),
            Incidents       = SUM(ISNULL(IR.IncidentCount, 0)),
            SuccessRate     = CAST(
                                100.0 * SUM(
                                    CASE
                                        WHEN S.IsSuccess = 1 AND ISNULL(IR.IncidentCount, 0) = 0 THEN 1
                                        ELSE 0
                                    END
                                ) / NULLIF(COUNT(1), 0)
                              AS DECIMAL(5,2)),
            AvgCenterlineM  = CAST(AVG(ABS(ISNULL(S.CenterlineOffsetM, 0))) AS DECIMAL(10,2)),
            AvgDistToStopM  = CAST(AVG(ABS(ISNULL(S.DistanceToStopM, 0))) AS DECIMAL(10,2))
        FROM dbo.DockingSessions AS S
        INNER JOIN dbo.AircraftTypes AS A
            ON A.AircraftTypeId = S.AircraftTypeId
        OUTER APPLY
        (
            SELECT COUNT(*) AS IncidentCount
            FROM dbo.IncidentReports AS I
            WHERE I.SessionId = S.SessionId
        ) AS IR
        GROUP BY A.' + QUOTENAME(@AircraftNameCol) + N'
        ORDER BY SuccessRate DESC, Total DESC, A.' + QUOTENAME(@AircraftNameCol) + N' ASC;
    ';

    EXEC sp_executesql @sql;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Reports_GetByAircraftType]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   BY AIRCRAFT TYPE
   Returns:
   0 = AircraftName
   1 = TotalSessions
   2 = SuccessRate
   3 = AvgOffsetM
   ============================================================ */
CREATE   PROCEDURE [dbo].[usp_Reports_GetByAircraftType]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AircraftNameCol SYSNAME;

    SET @AircraftNameCol =
        CASE
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'AircraftName'
            ) THEN 'AircraftName'
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'Name'
            ) THEN 'Name'
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'TypeName'
            ) THEN 'TypeName'
            ELSE NULL
        END;

    IF @AircraftNameCol IS NULL
    BEGIN
        THROW 50002, 'No aircraft display column found in dbo.AircraftTypes. Expected AircraftName, Name, or TypeName.', 1;
    END

    DECLARE @sql NVARCHAR(MAX) = N'
        SELECT
            AircraftName  = A.' + QUOTENAME(@AircraftNameCol) + N',
            TotalSessions = COUNT(1),
            SuccessRate   = CAST(
                                100.0 * SUM(
                                    CASE
                                        WHEN S.IsSuccess = 1 AND ISNULL(IR.IncidentCount, 0) = 0 THEN 1
                                        ELSE 0
                                    END
                                ) / NULLIF(COUNT(1), 0)
                              AS DECIMAL(5,2)),
            AvgOffsetM    = CAST(AVG(ABS(ISNULL(S.CenterlineOffsetM, 0))) AS DECIMAL(10,2))
        FROM dbo.DockingSessions AS S
        INNER JOIN dbo.AircraftTypes AS A
            ON A.AircraftTypeId = S.AircraftTypeId
        OUTER APPLY
        (
            SELECT COUNT(*) AS IncidentCount
            FROM dbo.IncidentReports AS I
            WHERE I.SessionId = S.SessionId
        ) AS IR
        GROUP BY A.' + QUOTENAME(@AircraftNameCol) + N'
        ORDER BY SuccessRate DESC, TotalSessions DESC, A.' + QUOTENAME(@AircraftNameCol) + N' ASC;
    ';

    EXEC sp_executesql @sql;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Reports_GetRecentDockingSessions]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   RECENT DOCKING SESSIONS
   Returns:
   0 = AircraftName
   1 = TimestampLocal
   2 = Outcome
   3 = CenterlineOffsetM
   4 = DistanceToStopM
   5 = IncidentCount
   ============================================================ */
CREATE   PROCEDURE [dbo].[usp_Reports_GetRecentDockingSessions]
    @TopN INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AircraftNameCol SYSNAME;

    SET @AircraftNameCol =
        CASE
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'AircraftName'
            ) THEN 'AircraftName'
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'Name'
            ) THEN 'Name'
            WHEN EXISTS (
                SELECT 1 FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.AircraftTypes')
                  AND name = 'TypeName'
            ) THEN 'TypeName'
            ELSE NULL
        END;

    IF @AircraftNameCol IS NULL
    BEGIN
        THROW 50001, 'No aircraft display column found in dbo.AircraftTypes. Expected AircraftName, Name, or TypeName.', 1;
    END

    DECLARE @sql NVARCHAR(MAX) = N'
        SELECT TOP (@TopN)
            AircraftName      = A.' + QUOTENAME(@AircraftNameCol) + N',
            TimestampLocal    = S.StartTimeLocal,
            Outcome           = CASE
                                    WHEN ISNULL(IR.IncidentCount, 0) > 0 THEN ''INCIDENT''
                                    WHEN S.IsSuccess = 1 THEN ''SUCCESS''
                                    ELSE ''FAILED''
                                END,
            CenterlineOffsetM = CAST(ISNULL(S.CenterlineOffsetM, 0) AS FLOAT),
            DistanceToStopM   = CAST(ISNULL(S.DistanceToStopM, 0) AS FLOAT),
            IncidentCount     = ISNULL(IR.IncidentCount, 0)
        FROM dbo.DockingSessions AS S
        INNER JOIN dbo.AircraftTypes AS A
            ON A.AircraftTypeId = S.AircraftTypeId
        OUTER APPLY
        (
            SELECT COUNT(*) AS IncidentCount
            FROM dbo.IncidentReports AS I
            WHERE I.SessionId = S.SessionId
        ) AS IR
        ORDER BY S.StartTimeLocal DESC, S.SessionId DESC;
    ';

    EXEC sp_executesql
        @sql,
        N'@TopN INT',
        @TopN = @TopN;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Reports_GetSummary]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   REPORT SUMMARY
   Returns:
   0 = TotalSessions
   1 = TotalIncidents
   2 = LastSessionStart
   ============================================================ */
CREATE   PROCEDURE [dbo].[usp_Reports_GetSummary]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        TotalSessions   = COUNT(1),
        TotalIncidents  = (SELECT COUNT(1) FROM dbo.IncidentReports),
        LastSessionStart = MAX(S.StartTimeLocal)
    FROM dbo.DockingSessions AS S;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_RolesDashboard_GetAll]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 8) Roles dashboard metrics (4 result sets)
------------------------------------------------------------
CREATE   PROCEDURE [dbo].[usp_RolesDashboard_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @today DATE = CAST(GETDATE() AS DATE);

    -- (1) Student metrics (overall system)
    SELECT
        COUNT(*) AS TotalSessions,
        SUM(CASE WHEN CrewMode = 1 THEN 1 ELSE 0 END) AS SoloSessions,
        CAST(100.0 * AVG(CASE WHEN IsSuccess=1 THEN 1.0 ELSE 0.0 END) AS DECIMAL(10,1)) AS SuccessRate
    FROM dbo.DockingSession;

    -- (2) Instructor metrics (overall DUAL-tagged sessions)
    SELECT
        SUM(CASE WHEN CrewMode = 2 THEN 1 ELSE 0 END) AS DualSessions,
        SUM(CASE WHEN CrewMode = 2 AND CAST(StartTimeLocal AS DATE)=@today THEN 1 ELSE 0 END) AS SessionsToday,
        CAST(100.0 * AVG(CASE WHEN CrewMode=2 AND IsSuccess=1 THEN 1.0
                              WHEN CrewMode=2 AND IsSuccess=0 THEN 0.0
                              ELSE NULL END) AS DECIMAL(10,1)) AS DualSuccessRate
    FROM dbo.DockingSession;

    -- (3) Ground crew metrics
    SELECT
        (SELECT COUNT(*) FROM dbo.DockingBay WHERE IsActive=1) AS ActiveGates,
        (SELECT COUNT(*) FROM dbo.DockingSession WHERE CAST(StartTimeLocal AS DATE)=@today) AS OperationsToday,
        (SELECT COUNT(*) FROM dbo.DockingSession WHERE CrewMode=0) AS PendingCrewTagging
    ;

    -- (4) Admin metrics
    DECLARE @TotalUsers INT = 0;
    IF OBJECT_ID('dbo.Users','U') IS NOT NULL
        SELECT @TotalUsers = COUNT(*) FROM dbo.Users;

    DECLARE @UsedMB DECIMAL(18,1) =
        (SELECT CAST(SUM(size) * 8.0 / 1024.0 AS DECIMAL(18,1)) FROM sys.database_files);

    DECLARE @LimitMB DECIMAL(18,1) = 51200.0; -- 50 GB default limit (change anytime)
    DECLARE @PctFull DECIMAL(10,1) = CASE WHEN @LimitMB > 0 THEN CAST((@UsedMB/@LimitMB)*100.0 AS DECIMAL(10,1)) ELSE 0 END;

    -- SQL Server uptime (approx: since SQL started)
    DECLARE @SqlStart DATETIME2(0) = (SELECT sqlserver_start_time FROM sys.dm_os_sys_info);
    DECLARE @UptimeMin INT = DATEDIFF(MINUTE, @SqlStart, SYSDATETIME());

    SELECT
        @TotalUsers AS TotalUsers,
        @UptimeMin AS SystemUptimeMinutes,
        @UsedMB AS DataStorageUsedMB,
        @LimitMB AS DataStorageLimitMB,
        @PctFull AS DataStoragePctFull;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_WeatherSnapshot_GetLatest]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================
--  SP: Get latest snapshot
-- =========================================
CREATE   PROCEDURE [dbo].[usp_WeatherSnapshot_GetLatest]
    @LocationName NVARCHAR(120)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (1)
        LocationName, ObservedAtLocal,
        VisibilityKm, TemperatureC, WindSpeedKts, WindGustKts,
        IsRaining, IsLightning, WeatherCode, Source
    FROM dbo.WeatherSnapshot
    WHERE LocationName = @LocationName
    ORDER BY ObservedAtLocal DESC, WeatherSnapshotId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_WeatherSnapshot_Insert]    Script Date: 18/03/2026 10:59:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================
--  SP: Insert snapshot
-- =========================================
CREATE   PROCEDURE [dbo].[usp_WeatherSnapshot_Insert]
    @LocationName    NVARCHAR(120),
    @ObservedAtLocal DATETIME2(0),
    @VisibilityKm    DECIMAL(6,2),
    @TemperatureC    INT,
    @WindSpeedKts    INT,
    @WindGustKts     INT,
    @IsRaining       BIT,
    @IsLightning     BIT,
    @WeatherCode     INT,
    @Source          NVARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.WeatherSnapshot
    (
        LocationName, ObservedAtLocal,
        VisibilityKm, TemperatureC, WindSpeedKts, WindGustKts,
        IsRaining, IsLightning, WeatherCode, Source
    )
    VALUES
    (
        @LocationName, @ObservedAtLocal,
        @VisibilityKm, @TemperatureC, @WindSpeedKts, @WindGustKts,
        @IsRaining, @IsLightning, @WeatherCode, @Source
    );
END
GO
USE [master]
GO
